body {
	background: var(--dota-gray-12);
	color: white;
	font-family: sans-serif;
	margin: 1rem;
	--dota-death-red: #e54b15;
	--dota-gray-12: HSL(220, 5%, 12%);
	--dota-gray-25: HSL(220, 5%, 25%);
	--dota-blue-powder: #99cbee;
	--z-dropdown: 1
}

a {
	color: var(--dota-blue-powder)
}

table,
img {
	margin: 0 auto
}

input {
	box-sizing: border-box;
}

.dn {
	display: none
}

.field {
	background: white;
	position: relative;
}

.field label {
	color: black;
	position: absolute;
	left: 1rem;
	top: 1rem;
	font-weight: bold;
}

.field input {
	padding: 1rem;
	padding-left: 8rem;
	border: 0;
	background: transparent;
	width: 100%;
}

input[type=text] {
	font-size: 1rem;
}

#players {
	background: var(--dota-gray-12);
	box-shadow: 2px 2px 4px black;
	position: absolute;
	top: 3rem;
	width: 100%;
	z-index: var(--z-dropdown)
}

#players.loading::after {
	content: 'Loading';
	display: block;
	padding: 1rem;
}

#players button {
	background: transparent;
	color: white;
	padding: 0.7rem;
	box-sizing: border-box;
	border: 0;
	text-align: left;
	width: 100%;
}

#players button:hover {
	background: var(--dota-gray-25);
}

#players img {
	width: 46px;
	height: auto;
	vertical-align: middle;
}

#suggestions {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
}

/* // TODO Tweak breakpoint so that Vengeful Spirit and percentage fit */

@media screen and (min-width:653px) {
	#suggestions {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width:968px) {
	#suggestions {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width:1548px) {
	#suggestions {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.suggestion h1 {
	font-size: 1.4rem;
	margin: 0;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px black;
}

.suggestion strong {
	color: var(--dota-death-red);
	line-height: 1.6rem;
	position: absolute;
	right: 1rem;
	top: 1rem;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.suggestion table {
	text-align: center;
	width: 100%;
}

.suggestion td {
	width: 33.3%;
}

.suggestion img {
	width: 100%;
	height: auto
}

.suggestion {
	background: HSL(207, 7%, 25%);
	flex-direction: column;
	display: flex;
}

.suggestion_text {
	line-height: 1.5em;
	padding: 1rem;
	position: relative;
	flex: 1
}
